@import "./variable";

body{
    font-family: 'Yekan';
}
.servNozorat{
    background-image: url("../assets/Background/Group596.png");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    width: 100%;
    border-radius: 20px 0 0 20px;
    color: whitesmoke;
    font-family: 'Yekan';
    @media screen {
        
    }
}
.enterPrice{
    direction: rtl;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 10px 10px 7px -4px rgba(163, 163, 163, 0.438);
    .priceInput{
        border: 0;
        background-color: whitesmoke;
        font-size: 3rem;
        :focus {
            outline: none !important;
        }
    }
   
}
.price{
    border-radius: 8px;
    padding: 10px;
    text-align: center;  
    background-color: whitesmoke;
    box-shadow: 10px 10px 7px -4px rgba(163, 163, 163, 0.438);
    cursor: pointer;
}
.fontSize {
    font-size: 24px;
}
.mainpayment{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: whitesmoke;

}
*:focus {
    outline: none;
}