@import "variable";
@import "input";


body{
    padding : 0 ;
    margin: 0;
    list-style:none;
    text-decoration: none;
    min-height: 100%;
    direction: rtl;
    text-align: right;
    font-family: 'Yekan';
    background-color:$bgcolor;
    color: $textColor;
}


.main {
    background-color:$bgcolor;
    color: $textColor;
    height: 100vh;

}
.imgLogo {
    width: 100px;
    height: 100px;

}
.hrColor{
    border-bottom: 1px solid $textColor ;  
}